<%- include('partials/header') %>

<main>
    <h1>Welcome</h1>

    <p>This app is now working 🎉</p>

    <ul>
        <li><a href="/organizations">View Organizations</a></li>
        <li><a href="/new-organization">Create Organization</a></li>
    </ul>
</main>

<%- include('partials/footer') %>